@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    text-shadow: white 6px 6px 6px;
    scroll-behavior: smooth;
}
body button:active{
    transform: scale(0.8);
}

.nobar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    align-items: center;
    z-index: -1;
}
.nobar h2{
    font-size: 16px;
}
.rigth{
    display: flex;
    gap: 40px;
    margin-right: 60px;
}
.left{
    display: flex;
    margin-left: 60px;
}
.left img{
    width: 150px;
}
.de{
    width: 100%;
    background-image: url(./img/premium_photo-1661288481553-58fa39c17c84.avif);
    background-size: cover;
    height: 600px;
    justify-items: center;
    position: relative;
    z-index: -2;
}
.de::after{
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
}
.sde h1{
    justify-self: center;
   
}
.sde{
    z-index: 2;
    position: absolute;
    top: 250px;
    font-size: 50px;
    color: white;
}
.code{
    width: 100%;
    height: 600px;
    padding-top: 40px;
}
.g1, .g2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}
.sg1, .sg2, .sg3, .sg4, .sg5, .sg6{
   width: 240px;
   text-align: center;
}
.sg1 .gr{
    color: rgb(91, 168, 13);
}
.sg1 button{
    background-color: rgb(91, 168, 13)
}
.sg2 .gr{
    color: blue;
}
.sg2 button{
    background-color: blue;
}
.sg3 .gr{
    color: red;
}
.sg3 button{
    background-color: red;
}
.sg1 button, .sg2 button, .sg3 button, .sg4 button, .sg5 button, .sg6 button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    transition: 0.5s;
    margin-top: 20px;
}
